$h1Font: 2rem;
$spanFont: 1.5rem;
$marginBottom: 0.5rem;

.heading-container {
  h1 {
    font-size: $h1Font;
    line-height: $h1Font;
    margin-bottom: $marginBottom;
  }
  span {
    font-size: $spanFont;
    line-height: $spanFont;
  }
  margin-bottom: $marginBottom;
}
