@import './partials.sass'
@import './theme.sass'
@import './ContentBlock/content-block.sass'
@import './ContactForm/contact-form.sass'
@import './Heading/heading.sass'
@import './EmailLinks/email-links.sass'
@import './Nav/nav.sass'
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap')

body 
  margin: 0
  font-size: 18px
  font-family: 'Questrial', sans-serif

  main
    width: 100%
    display: flex
    margin: 0 auto
    position: relative
    padding: 0 0 0 2rem
    max-width: $max-width
    flex-direction: column
    box-sizing: border-box  
    
    section#home
      height: 100vh
      display: flex
      flex-direction: column
      justify-content: center

    .section-container
      width: 100%
      display: flex
      text-align: right
      align-items: flex-end
      box-sizing: border-box
      flex-direction: column
      justify-content: center
      padding: 2rem .3rem 1rem .5rem

      

@media screen and (min-width: 570px)
  body
    font-size: 20px
@media screen and (min-width: 750px)
  body
    font-size: 22px
    main
      padding: 0
