@import './partials.sass'
@import './theme.sass'
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')

body 
  margin: 0
  font-size: 18px
  font-family: 'Quicksand', sans-serif

  main
    width: 100%
    display: flex
    margin: 0 auto
    position: relative
    max-width: $max-width
    flex-direction: column
    box-sizing: border-box  
    padding: 0 0 0 2rem

    .section-container 
      width: 100%
      display: flex
      min-height: 100vh
      text-align: right
      padding: 2rem .5rem 1rem .5rem
      align-items: flex-end
      box-sizing: border-box
      flex-direction: column
      justify-content: center

@media screen and (min-width: $breakpoint)
  body
    main
      padding: 0
