@use './partials.scss' as p;

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;

  main {
    margin: 0 auto;
    position: relative;
    max-width: p.$max-width;
    padding: 0.5rem 0 0 3rem;

    .section-container {
      width: 100%;
      padding: 1rem;
      min-height: 100vh;
      text-align: right;
      margin-bottom: 1rem;
      box-sizing: border-box;
    }
  }
}

.dark {
  background-color: p.$section;
  color: p.$text;
  nav {
    .switch {
      .slider {
        background-color: p.$bg;
        &:before {
          background-color: p.$accent-one;
        }
      }
    }
    ul {
      li {
        a {
          color: p.$accent-one;
        }
      }
    }
  }
  .is-current {
    a {
      color: p.$accent-two;
    }
  }
  main {
    .section-container {
      .heading-container {
        h1 {
          color: p.$accent-one;
        }
        span {
          color: p.$accent-two;
        }
      }

      span {
        color: lighten(p.$accent-two, 8%);
      }
      .links-container {
        a,
        .copy-email {
          color: p.$accent-one;
          background-color: p.$section;
          border: 2px solid p.$border;
          &:hover {
            border: 2px solid p.$accent-one;
          }
        }
        .success {
          color: p.$accent-one;

          background-color: p.$section;
          border: 2px solid p.$accent-one;
        }
      }
      .form-container {
        .info-text {
          color: p.$border;
          background-color: lighten(p.$section, 5%);
        }
        form {
          input,
          textarea {
            color: p.$accent-one;
            background-color: p.$section;
            border: 2px solid p.$border;
            &:focus {
              border: 2px solid p.$accent-one;
              background-color: p.$section;
            }

            &::placeholder {
              color: p.$border;
            }
          }
          .submit {
            color: p.$accent-one;
            border: 2px solid p.$border;
            background-color: p.$section;

            &:hover {
              border: 2px solid p.$accent-one;
            }
          }
          .error {
            color: p.$warning;
          }
          .msg-sent {
            color: p.$accent-one;
          }
        }
      }
    }
  }
}
