// Font
$main-font: 'Questrial', sans-serif
// Dark Mode ==============

// $bg: #2c1b28
// $text: #f5f5f5
// $border: #794b6f
// $section: #0f0a0e
// $accent-one: #febd62
// $accent-two: #ffa4f7

$bg: #000000
$text: #f5f5f5
$border: #6b6b6b
$section: #181818
$accent-one: #d4ad64
$accent-two: #f2a154

// Light Mode ==============

// $bg-light: #bed8d4
// $text-light: #2e3e47
// $border-light: #95cac6
// $section-light: #ffffff
// $accent-one-light: #0d9986
// $accent-two-light: #10a0aa



$bg-light: #f8f8f8
$text-light: #181818
$border-light: #cacaca
$section-light: #ffffff
$accent-one-light: #3a4957
$accent-two-light: #686868

// Extras
$warning: #fe6262
// Space
$breakpoint: 768px
$min-width: 320px
$max-width: 700px
