.dark 
  background-color: $bg
  color: $text
  nav 
    background-color: $section         
    ul 
      li
        .switch 
          .slider 
            // background-color: darken($border,10%)
            background-color: lighten($bg,6%)
            &:before 
              background-color: $accent-one  
        a 
          color: $accent-one   
    
  main 
    .section-container 
      .heading-container 
        background-color: $section
        h1 
          color: $accent-one    
        span 
          color: $accent-two
      span 
        color: lighten($accent-two, 8%)
      
      .email-link-container 
        .copy-email,a
          color: $accent-one
          background-color: $section
          border: 2px solid $border
          &:hover 
            border: 2px solid $accent-one
        .success 
          color: $accent-one
          background-color: $section
          border: 2px solid $accent-one

      .block-container
        border: 4px solid $section
        .head
          background-color: lighten($section, 5%)
          .heading-text
            h2
              color: $accent-one
              a
                color: $accent-one
            h4
              color: $accent-two
            span
              color: darken($accent-two, 10%)
          .avatar
        .link-container
          a
           color: $accent-one
           background-color: $section
           border: 2px solid $border
           &:hover 
             border: 2px solid $accent-one
        button
          color: $accent-one
          background-color: $section
        .text-container
          .text
            background-color: lighten($section, 5% )
            &::-webkit-scrollbar 
              width: 6px
              background-color: $section        
            &::-webkit-scrollbar-thumb 
              background-color: $bg
            &::-webkit-scrollbar-corner
              background-color: $section
            p
              color: lighten($accent-two, 13%)

      .form-container 
        .info-text 
          color: $border
          background-color: $section
        form 
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus 
            box-shadow: 0 0 0px 1000px $section inset
          input,
          textarea 
            color: $accent-one
            border: 2px solid $border
            background-color: $section
            &:focus 
              background-color: $section
              border: 2px solid $accent-one
            &::placeholder 
              color: $border
          .submit 
            color: $accent-one
            border: 2px solid $border
            background-color: $section
            &:hover 
              border: 2px solid $accent-one
          .error 
            color: $warning
            background-color: $section
          .msg-sent 
            color: $accent-one
        
.light 
  background-color: $bg-light
  color: darken($accent-two-light, 10%)
  nav 
    background-color: $section-light
    ul 
      li
        bc
        .switch 
          .slider 
            background-color: $bg-light
            &:before 
              background-color: $accent-one-light
        a 
          color: $accent-one-light
    
  main 
    .section-container 
      .heading-container 
        background-color: $section-light
        h1 
          color: $accent-one-light    
        span 
          color: $accent-two-light
      span 

        color: lighten($accent-two-light, 8%)
      
      .email-link-container
        .copy-email,a
          color: $accent-one-light
          background-color: lighten($bg-light, 17%)
          border: 2px solid $border-light
          &:hover 
            border: 2px solid $accent-one-light
            background-color: $section-light
        .success 
          color: $accent-one-light
          background-color: $section-light
          border: 2px solid $accent-one-light


      .block-container
        border: 4px solid $section-light
        .head
          background-color: lighten($bg-light, 15%)
          .heading-text
            h2
              color: $accent-one-light
              a
                color: $accent-one-light
            h4
              color: $accent-two-light
            span
              color: $accent-two-light
          .avatar
        .link-container
          a
           color: $accent-one-light
           background-color: $section-light
           border: 2px solid $border-light
           &:hover 
             border: 2px solid $accent-one-light
        button
          color: $accent-one-light
          background-color: $section-light
        .text-container
          .text
            background-color: darken( $section-light, 3%)        
            &::-webkit-scrollbar 
              width: 6px
              background-color: $section-light        
            &::-webkit-scrollbar-thumb 
              background-color: $bg-light
            &::-webkit-scrollbar-corner
              background-color: $section-light
            p
              color: $accent-two-light

      .form-container 
        .info-text 
          color: darken($border-light,20% )
          background-color: $section-light
        form 
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus 
            box-shadow: 0 0 0px 1000px $section-light inset
          input,
          textarea 
            color: $accent-one-light
            border: 2px solid $border-light
            background-color: $section-light
            &:focus 
              background-color: $section-light
              border: 2px solid $accent-one-light
            &::placeholder 
              color: darken($border-light,5% )
          .submit 
            color: $accent-one-light
            border: 2px solid $border-light
            background-color: $section-light
            &:hover 
              border: 2px solid $accent-one-light
          .error 
            color: $warning
            background-color: $section-light
          .msg-sent 
            color: $accent-one-light
          
        