@use '../partials.scss' as p;

nav {
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.5rem;
  position: fixed;
  ul {
    padding: 0;
    width: 100vh;
    display: flex;
    transform-origin: left;
    transform: rotate(90deg);
    justify-content: flex-end;
    margin: -0.75rem 0 0 0.75rem;
    li {
      width: 18%;
      height: 100%;
      display: flex;
      list-style: none;
      justify-content: center;
      transform: rotate(180deg);
      a {
        padding-right: 0.5rem;
        color: darkslategray;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: p.$breakpoint) {
  nav {
    width: calc((100vw - #{p.$max-width}) / 2);
    ul {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      transform: rotate(0deg);

      li {
        width: 100%;
        height: 18%;
        align-items: center;
        transform: rotate(0deg);
        justify-content: flex-end;
      }
    }
  }
}
